
body {
  position: relative;


}

#homesvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.wrapper-main {
    top: 500px;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
}

/* Optional: switch to a mobile-optimized SVG on small screens */
@media (min-width: 375px) {
  .wrapper-main {
    width: 100%;
    background-color: red;
  }
}


/* Optional: switch to a mobile-optimized SVG on small screens */
@media (min-width: 600px) {
  .wrapper-main {
    width: 100%;
    background-color: blue;
  }
}

/* Optional: switch to a mobile-optimized SVG on small screens */
@media (min-width: 601px) {
  .wrapper-main {
    width: 100%;
    background-color: purple;
  }
}

/* Optional: switch to a mobile-optimized SVG on small screens */
@media (min-width: 768px) {
  .wrapper-main {
    width: 100%;
    background-color: green;
  }
}

/* Optional: switch to a mobile-optimized SVG on small screens */
@media (min-width: 992px) {
  .wrapper-main {
    width: 100%;
    background-color: orange;
  }
}

/* Optional: switch to a mobile-optimized SVG on small screens */
@media (min-width: 1200px) {
  .wrapper-main {
    width: 100%;
    background-color: yellow;
  }
}


/* 600, 601, 768, 992, 1200*/